body {
    margin: 0;
    padding: 0;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: .9em;
    background: #eee;
}
header{
    display:grid;
    grid-template-columns: 8fr 4.5fr .4fr; /* Set the columns per row */
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-top: 3px solid #e7e7e7;
}

.menu_shortcut {
    background-image: url('../images/booton.png');
    width :29px;
    height: 19px;   
    padding: 5px;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    border: 1px transparent solid;
}
.menu_shortcut:hover {
    border : 1px grey solid;
}

.cycle-slideshow img {
    width: 100%; height: 100%; 
    }


footer {
	
	width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
	font-family: Garamond;
	text-align:  justify;
	font-size: 1.2em;

}
article {
    margin: 0;
    padding: 0;

}

article img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;  
}

cycle-slideshow {
}

.cycle-pager { 
    text-align: center;
	width: 100%; 
	z-index: 500;
	position: absolute; 
	bottom: 10px ;
	overflow: hidden;
}
.cycle-pager span { 
   font-size: 50px;
    display: inline-block; 
	color: white;
	cursor: pointer; 

}
.cycle-pager span.cycle-pager-active { color: black;}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
}

li{
    font:sans;    
	padding: 20px 5px;

  }
  
li a {
    display: inline;
    display: block;
    color: grey;	
	padding: 20px 5px;
    text-decoration: none;
	border-radius: 5px;

}

li a:hover {
    background-color: #F1F5FA;
	
body  {
    background-color:#f8f8f8;
    padding-top: 15px;
   
}